.boton-clear {
    height: 90px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    border-radius: 50px;
    background: transparent;
    margin-top:8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: whitesmoke;
    border: 2px solid rgb(42, 43, 16);
    cursor: pointer;
}
.boton-clear:hover{
    background-color: rgb(163, 59, 59);

}