.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:38px;
    background-color: #261857;
    color: white;
    border-radius:35px;
    border: 3px solid rgb(58, 57, 16);
    margin:4px;
    cursor: pointer;
    user-select: none;
    background: transparent;
}

.operador {
    background-color: #806bb9;
}

.boton-contenedor:hover {
    background-color: #211030;
}
.operador:hover {
    background-color: #bb6226;
}